<div>{{ flash.message }}</div>
<h1>Вход в личный кабинет</h1>
<form action="/login" method="POST">
  <input type="text" name="login" value="admin" required>
  <input type="password" name="password" value="123" required>
  <input type="submit" value="Войти">
</form>
